<?xml version="1.0" encoding="utf-8"?>
<!--ESTA VERSION NO USA EL SERVICIO LOCAL SINO EL IIES-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Green_Retail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Green_Retail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="GreenRetail.Bridge.POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="Green_Retail.Properties.Settings.GRConnectionString"
      connectionString="Server=10.20.0.3;User ID=sa;Password=Green-r3t@il;Initial Catalog=AnimoGreenRetail;"
      providerName="System.Data.SqlClient" />
    <add name="Green_Retail.Properties.Settings.GR2" connectionString="Data Source=10.20.0.3;Initial Catalog=AnimoGreenRetail;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGRSalesPaymentServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRUserService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRSessionService" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRCustomerServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRPosServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGREmployeesServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRStoreServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRItemVariantServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRSecuenceTypesServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRQueryToolServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRTransactionsServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRQueryToolServices1" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRItemServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRInfoPrinter_FiscalServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRVATPostingSetupServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICreditCardNumber" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRInfoPrinter_Fiscal_AuxServices" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGRFingerPrinter" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>

<endpoint address="http://localhost:4966/GRSessionService.svc/GRSessionService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRSessionService" contract="GRSessionService.IGRSessionService" name="BasicHttpBinding_IGRSessionService" />
<endpoint address="http://localhost:4966/Services/GRSalesPaymentServices.svc/GRSalesPaymentServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRSalesPaymentServices" contract="GRSalesPaymentServices.IGRSalesPaymentServices" name="BasicHttpBinding_IGRSalesPaymentServices" />
<endpoint address="http://localhost:4966/GRUserService.svc/GRUserService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRUserService" contract="GreenRetailUserService.IGRUserService" name="BasicHttpBinding_IGRUserService" />
<endpoint address="http://localhost:4966/Services/GRPosServices.svc/GRPosServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRPosServices" contract="GRPOSServ.IGRPosServices" name="BasicHttpBinding_IGRPosServices" />
<endpoint address="http://localhost:4966/Services/GREmployeesServices.svc/GREmployeesServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGREmployeesServices" contract="EmployeesServ.IGREmployeesServices" name="BasicHttpBinding_IGREmployeesServices" />
<endpoint address="http://localhost:4966/Services/GRStoreServices.svc/GRStoreServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRStoreServices" contract="PrinterFiscalServ.IGRStoreServices" name="BasicHttpBinding_IGRStoreServices" />
<endpoint address="http://localhost:4966/Services/GRItemVariantServices.svc/GRItemVariantServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRItemVariantServices" contract="VariantServ.IGRItemVariantServices" name="BasicHttpBinding_IGRItemVariantServices" />
<endpoint address="http://localhost:4966/Services/GRItemVariantServices.svc/GRItemVariantServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRItemVariantServices" contract="ItemVariantServ.IGRItemVariantServices" name="BasicHttpBinding_IGRItemVariantServices" />
<endpoint address="http://localhost:4966/Services/GRSecuenceTypesServices.svc/GRSecuenceTypesServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRSecuenceTypesServices" contract="GRSequenceTypeService.IGRSecuenceTypesServices" name="BasicHttpBinding_IGRSecuenceTypesServices" />
<endpoint address="http://localhost:4966/Services/GRQueryToolServices.svc/GRQueryToolServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRQueryToolServices" contract="ToolsServices.IGRQueryToolServices" name="BasicHttpBinding_IGRQueryToolServices" />
<endpoint address="http://localhost:4966/Services/GRTransactionsServices.svc/GRTransactionsServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRTransactionsServices" contract="TransactionServices.IGRTransactionsServices" name="BasicHttpBinding_IGRTransactionsServices" />
<endpoint address="http://localhost:4966/Services/GRTransactionsServices.svc/GRTransactionsServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRTransactionsServices" contract="GRTransactionsServices.IGRTransactionsServices" name="BasicHttpBinding_IGRTransactionsServices" />
<endpoint address="http://localhost:4966/Services/GRCustomerServices.svc/GRCustomerServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRCustomerServices" contract="CustomerServ.IGRCustomerServices" name="BasicHttpBinding_IGRCustomerServices" />
<endpoint address="http://localhost:4966/Services/GRQueryToolServices.svc/GRQueryToolServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRQueryToolServices1" contract="QueryToolsServ.IGRQueryToolServices" name="BasicHttpBinding_IGRQueryToolServices1" />
<endpoint address="http://localhost:4966/Services/GRInfoPrinter_FiscalServices.svc/GRInfoPrinter_FiscalServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRInfoPrinter_FiscalServices" contract="InfoPrinter_FiscalServ.IGRInfoPrinter_FiscalServices" name="BasicHttpBinding_IGRInfoPrinter_FiscalServices" />
<endpoint address="http://localhost:4966/Services/GRItemServices.svc/GRItemServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRItemServices" contract="ItemServ.IGRItemServices" name="BasicHttpBinding_IGRItemServices" />
<endpoint address="http://localhost:4966/Services/GRInfoPrinter_Fiscal_AuxServices.svc/GRInfoPrinter_Fiscal_AuxServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRInfoPrinter_Fiscal_AuxServices" contract="InfoPrinter_FiscalAuxServ.IGRInfoPrinter_Fiscal_AuxServices" name="BasicHttpBinding_IGRInfoPrinter_Fiscal_AuxServices" />
<endpoint address="http://localhost:4966/Services/GRStoreServices.svc/GRStoreServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRStoreServices" contract="GRStoreService.IGRStoreServices" name="BasicHttpBinding_IGRStoreServices" />
<endpoint address="http://localhost:4966/Services/GRVATPostingSetupServices.svc/GRVATPostingSetupServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRVATPostingSetupServices" contract="GRVATPostingSetupServices.IGRVATPostingSetupServices" name="BasicHttpBinding_IGRVATPostingSetupServices" />
<endpoint address="http://localhost:4966/Services/CreditCardNumber.svc/CreditCardNumber" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditCardNumber" contract="GRCreditCardNumber.ICreditCardNumber" name="BasicHttpBinding_ICreditCardNumber" />
<endpoint address="http://localhost:4966/Services/GRFingerPrinter.svc/GRFingerPrinter" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGRFingerPrinter" contract="FingerPrint.IGRFingerPrinter" name="BasicHttpBinding_IGRFingerPrinter" /> 
</client>
  </system.serviceModel>
  <userSettings>
    <Green_Retail.Properties.Settings>
      <setting name="AuthenticationMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StartPOSAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
    </Green_Retail.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Green_Retail.Properties.Settings>
      <setting name="ReportServerURL" serializeAs="String">
        <value>http://localhost/ReportServer</value>
      </setting>
      <setting name="ReportServerManURL" serializeAs="String">
        <value>http://localhost/Reports</value>
      </setting>
      <setting name="TDC_VISA_ID" serializeAs="String">
        <value>CAJA GVL-VISA</value>
      </setting>
      <setting name="TDC_AMEX_ID" serializeAs="String">
        <value>CAJA GVL-AMEX</value>
      </setting>
      <setting name="TDC_CLAVE_ID" serializeAs="String">
        <value>CAJA GVL-CLAVE</value>
      </setting>
      <setting name="TDC_MASTER_ID" serializeAs="String">
        <value>CAJA GVL-MASTERCARD</value>
      </setting>
      <setting name="StoreNo" serializeAs="String">
        <value>CALLE50</value>
      </setting>
      <setting name="AzureStorageUrl" serializeAs="String">
	<value>DefaultEndpointsProtocol=https;AccountName=animo;AccountKey=m59QGa5qFVGRSdYiAaQE8CYAT4+4LYTCdHYQihQO8a9Uw9abOT/RBHgx7zLBvlkLwvdsHK7XWrBHhku31oduGQ==</value>
	</setting>
	<setting name="AzureContainer" serializeAs="String">
	<value>pictures</value>
	</setting>
	<!-- Código de terminal asignado-->
	<setting name="TerminalNo" serializeAs="String">
        <value>T002</value>
      </setting>
      <setting name="Green_Retail_com_benefitnesscorp_Customer_Service"
        serializeAs="String">
        <value>http://benefitnesscorp.com:7047/DynamicsNAV90/WS/TEST%20Animo/Page/Customer</value>
      </setting>
      <setting name="Green_Retail_com_benefitnesscorp2_Customer_Service"
        serializeAs="String">
        <value>http://benefitnesscorp.com:7047/DynamicsNAV90/WS/ANIMO%20GYM/Page/Customer</value>
      </setting>
      <setting name="WebReferenceTEST" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Green_Retail_com_benefitnesscorp_CreditCardGRTEST_CreditCardGR_Service"
        serializeAs="String">
        <value>http://benefitnesscorp.com:7047/DynamicsNAV90/WS/TEST%20Animo/Page/CreditCardGR</value>
      </setting>
      <setting name="Green_Retail_CustomerLOCAL_CreditCardGR_Service"
        serializeAs="String">
        <value>http://ivanlabrador:7047/DynamicsNAV90/WS/CRONUS%20International%20Ltd./Page/CreditCardGR</value>
      </setting>
      <setting name="Green_Retail_CustomerGRLOCAL_Customer_Service"
        serializeAs="String">
        <value>http://ivanlabrador:7047/DynamicsNAV90/WS/CRONUS%20International%20Ltd./Page/Customer</value>
      </setting>
      <setting name="Green_Retail_BankGRLOCAL_BankGR_Service" serializeAs="String">
        <value>http://ivanlabrador:7047/DynamicsNAV90/WS/CRONUS%20International%20Ltd./Page/BankGR</value>
      </setting>
      <setting name="Green_Retail_Benefitnesscorp_Real_CreditCardGR_CreditCardGR_Service"
        serializeAs="String">
        <value>http://benefitnesscorp.com:7047/DynamicsNAV90/WS/ANIMO%20GYM/Page/CreditCardGR</value>
      </setting>
      <setting name="Green_Retail_Benefitnesscorp_Real_BankGR_BankGR_Service"
        serializeAs="String">
        <value>http://benefitnesscorp.com:7047/DynamicsNAV90/WS/ANIMO%20GYM/Page/BankGR</value>
      </setting>
      <setting name="Green_Retail_Benefitnesscorp_Test_BankGR_BankGR_Service"
        serializeAs="String">
        <value>http://benefitnesscorp.com:7047/DynamicsNAV90/WS/TEST%20Animo/Page/BankGR</value>
      </setting>
    </Green_Retail.Properties.Settings>
    <GreenRetail.Bridge.POS.Properties.Settings>
            <setting name="TerminalNo" serializeAs="String">
                <value>T000</value>
            </setting>
            <setting name="StoreNo" serializeAs="String">
                <value>CALLE50</value>
            </setting>
        </GreenRetail.Bridge.POS.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
