<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
<section name="Green_Retail_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
</sectionGroup>
</configSections>
<connectionStrings>
<add name="Green_Retail_Service.Properties.Settings.ConnectionString" connectionString="Server=10.20.0.3;User ID=grsa;Password=Green-r3t@il;Initial Catalog=AnimoGreenRetail;" />
<add name="Green_Retail_Service_2015.Properties.Settings.ConnectionString" connectionString="Server=10.20.0.3;User ID=grsa;Password=Green-r3t@il;Initial Catalog=AnimoGreenRetail;" />
</connectionStrings>
<userSettings>
<Green_Retail_Service.Properties.Settings>
<setting name="ServiceURL" serializeAs="String">
<value>http://localhost:4966/</value>
</setting>
</Green_Retail_Service.Properties.Settings>
</userSettings>
</configuration>

