<?xml version="1.0" encoding="utf-8" ?>
 <configuration>
<configSections>
<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
<section name="GP_GR_Integration_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
</sectionGroup>
</configSections>
<connectionStrings>
<add name="GP_GR_Integration_Service.Properties.Settings.CON" connectionString="Server=.;User ID=sa;Password=sa2008@;Initial Catalog=GreenRetail;" providerName="System.Data.SqlClient" />
</connectionStrings>
<system.serviceModel>
<bindings>
<basicHttpBinding>
<binding name="BasicHttpBinding_IPOS" />
</basicHttpBinding>
</bindings>
<client>
<endpoint address="http://localhost:33513/POS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPOS" contract="POSService.IPOS" name="BasicHttpBinding_IPOS"/></client>
</system.serviceModel>
<applicationSettings>
<GP_GR_Integration_Service.Properties.Settings>
<setting name="HIST_OUT_DIR" serializeAs="String">
<value></value>
</setting>
<setting name="HIST_IN_DIR" serializeAs="String">
<value></value>
</setting>
<setting name="NOW_OUT_DIR" serializeAs="String">
<value></value>
</setting>
<setting name="NOW_IN_DIR" serializeAs="String">
<value></value>
</setting>
<setting name="INTERVAL" serializeAs="String">
<value>2000</value>
</setting>
<setting name="EXT" serializeAs="String">
<value>XML</value>
</setting>
<setting name="STORE" serializeAs="String">
<value></value>
</setting>
</GP_GR_Integration_Service.Properties.Settings>
</applicationSettings>
</configuration>

