<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IGPPS_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IGPPS_App.Properties.Settings>
            <setting name="NowInPath" serializeAs="String">
                <value>C:\Users\galapago\Desktop\GP\Now\gpin</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NowOutPath" serializeAs="String">
                <value>C:\Users\galapago\Desktop\GP\Now\gpout</value>
            </setting>
            <setting name="HistInPath" serializeAs="String">
                <value>C:\Users\galapago\Desktop\GP\Hist\gpin</value>
            </setting>
            <setting name="HistOutPath" serializeAs="String">
                <value>C:\Users\galapago\Desktop\GP\Hist\gpout</value>
            </setting>
            <setting name="ExtFile" serializeAs="String">
                <value>*.xml</value>
            </setting>
            <setting name="GPStringConnection" serializeAs="String">
                <value>Server=10.1.92.203;Database=TSGVL;User Id=sa;Password=Kamisa.10;</value>
            </setting>
            <setting name="ITBMS" serializeAs="String">
                <value>ITBMS7%</value>
            </setting>
        </IGPPS_App.Properties.Settings>
    </userSettings>
</configuration>